html {
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-style: normal;
	cursor: pointer;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.container{
display: flex;
flex-wrap: wrap;
background-color: rgb(39, 38, 38);
}

.title{
	font-family: Raleway sans-serif;
	font-weight: 500;
	font-size: x-small;
	text-decoration: underline;
	color: whitesmoke;
	
		
	@media screen and (min-width: 768px) {
		font-size: medium;
	}
		
	@media screen and (min-width: 1200px) {
		font-size: x-large;
	}
}

.section{
	width: 70%;
	padding: 30px;
	background-color: rgb(46, 46, 46);
	border-left: 1px solid black;
}
