.edu{margin-top: 40px;}

.edu__list{
    list-style:square;
    color: white;
    margin-top: 20px;
}

.edu__text{
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    @media screen and (min-width: 768px) {
        font-size: 17px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 19px;
    }
}

.edu__date{
    font-family: Roboto serif;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    
    @media screen and (min-width: 768px) {
        font-size: 15px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 17px;
    }
}