.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    border-top: 1px solid black;
}

.footer__text{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 16px;
}