.header{    
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    padding: 15px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url(../img/binary.jpg);
    @media screen and (min-width: 768px) {
        height: 80px;
        padding: 10px;
        }
}

.header__title{
    font-family: Raleway sans-serif;
    font-size: 14px;
    color: rgb(36, 124, 51);
    @media screen and (min-width: 768px) {
        font-size: 30px;
        }
}

.header__sub-title{
    font-family: Raleway sans-serif;
    font-size: 10px;
    color: rgb(36, 124, 51);
    @media screen and (min-width: 768px) {
        font-size: 25px;
        }
}

.sticky {
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
    width: 100%;
    z-index: 1;
}