.sidebar{
    flex-direction: column;
    width: 30%;
    margin-right: 0px;
    top: 80px;
    border-right: solid 1px black;
    background-color: rgb(39, 38, 38);
}


.sidebar__title{
    font-family: Raleway sans-serif;
    font-weight: 500;
    font-size:x-small;
    color: white;
    text-decoration: underline;
    @media screen and (min-width: 768px) {
        font-size: medium}
    @media screen and (min-width: 1200px) {
        font-size: large;}
}

.sidebar__box{
    margin-top: 20px;
    margin-left: 10px;
}

.contacts__item{
    align-items:center;
    margin-top: 10px;
}

.contacts__link{
    
    color: white;
    font-family: Roboto sans-serif;
    font-weight: 500;
    font-size: x-small;
    @media screen and (min-width: 768px) {
        font-size: medium;
    }    
    @media screen and (min-width: 1200px) {
        font-size: large;
    }
}


.contacts__icon{
    fill: aquamarine;
    width: 10px;
    height: 8px;
    @media screen and (min-width: 768px) {
        width: 16px;
        height: 12px;
    }
}

.accordion {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    &.active,
        &:hover,:focus {
            background-color: rgb(133, 141, 133);
        }
        &::after{
            
            content: '\02795';
            font-size: 13px;
            color: aquamarine;
            float: right;
            margin-left: 5px;
            }
}

.panel {
    padding: 0 18px;
    background-color:rgb(25, 77, 77);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active:after {
    content: "\2796";
}

.skills__item{
    font-family: Roboto sans-serif;
    font-size: x-small;
    margin-left: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    &:first-child{
        margin-top: 10px;
    }
    &::before {
        content: "\271A";
        color: aquamarine;
        display: inline-block;
        width: 5px;
        height: auto;
        margin-right: 15px;
    }
    @media screen and (min-width: 768px) {
        font-size: medium
    }    
    
    @media screen and (min-width: 1200px) {
        font-size: large;
    }
}

.skills__text{
    margin-left: 10px;
    font-family: Roboto sans-serif;
    font-weight: 600;
    font-size: x-small;
    color: white;
    @media screen and (min-width: 768px) {
        font-size: medium
    }
    
    @media screen and (min-width: 1200px) {
        font-size: large;
    }
}