@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  background-color: dimgrey;
}

.header {
  font-family: Raleway sans-serif;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  padding-top: 6px;
  padding-left: 20px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/binary.jpg);
}

.header__title {
  color: rgb(36, 124, 51);
}

.sidebar {
  height: 100vh;
  width: 130px;
  position: static;
  z-index: 1;
  top: 80px;
  border-right: solid 1px black;
  background-color: rgb(39, 38, 38);
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 220px;
    height: 100vh;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    width: 330px;
    height: 100vh;
  }
}

.sidebar__img {
  width: auto;
  height: auto;
}

.sidebar__title {
  font-family: Raleway sans-serif;
  font-weight: 500;
  font-size: x-small;
  color: white;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .sidebar__title {
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar__title {
    font-size: large;
  }
}

.sidebar__box {
  margin-top: 20px;
  margin-left: 10px;
}

.contacts__item {
  margin-top: 10px;
}

.contacts__link {
  color: white;
  font-family: Roboto sans-serif;
  font-weight: 500;
  font-size: x-small;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: large;
  }
}

.contacts__icon {
  fill: aquamarine;
  width: 10px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    width: 16px;
    height: 12px;
  }
}

.accordion {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion.active, .accordion:hover, .accordion :focus {
  background-color: rgb(133, 141, 133);
}
.accordion::after {
  content: "➕";
  font-size: 13px;
  color: aquamarine;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0 18px;
  background-color: rgb(25, 77, 77);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active:after {
  content: "➖";
}

.skills__item {
  font-family: Roboto sans-serif;
  font-size: x-small;
  margin-left: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
}
.skills__item:first-child {
  margin-top: 10px;
}
.skills__item::before {
  content: "✚";
  color: aquamarine;
  display: inline-block;
  width: 5px;
  height: auto;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .skills__item {
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  .skills__item {
    font-size: large;
  }
}

.skills__text {
  margin-left: 10px;
  font-family: Roboto sans-serif;
  font-weight: 600;
  font-size: x-small;
  color: white;
}
@media screen and (min-width: 768px) {
  .skills__text {
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  .skills__text {
    font-size: large;
  }
}/*# sourceMappingURL=main.css.map */