<div class="about">
  <h1 class="about__title title">About Me</h1>
  <p class="about__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et a in
    ab fugit molestias dolore, saepe rerum porro. Modi est architecto quibusdam
    ipsum rerum deserunt soluta consequuntur quo eius. Veritatis, impedit
    aliquam earum, hic exercitationem ullam commodi asperiores distinctio
    molestiae rerum eum? Sapiente molestias dolore voluptas debitis dignissimos
    commodi officia voluptates, distinctio, assumenda exercitationem modi ea
    laboriosam deserunt suscipit! Corrupti sit quidem nobis, dolores eligendi
    rerum pariatur corporis facilis porro, quo fuga modi perferendis magni sint
    ea hic. Nesciunt adipisci nihil id quisquam, perferendis consequatur nisi
    numquam eius amet? Esse velit incidunt, provident officiis corrupti
    perferendis dolorem, cumque aperiam ea quos illum libero dolor, deserunt
    dolores impedit molestias recusandae! Officiis nesciunt labore, nisi quas
    dolores consequatur enim animi dignissimos! Doloribus, facilis nobis quo
    unde dolores ipsum doloremque commodi! Alias corporis officia libero
    repellendus reiciendis. Reprehenderit assumenda placeat quisquam beatae
    autem odio, unde eius odit ad. Nemo placeat debitis omnis?
  </p>
</div>
