<div class="portfolio">
  <h1 class="title">Portfolio</h1>
  <ul>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/goit-markup-hw-08/"
        class="portfolio__link"
        >WebStudio</a
      >
    </li>
    <li class="portfolio__item">
      <a href="https://lorengreyn.github.io/barber/" class="portfolio__link"
        >Barbershop</a
      >
    </li>
    <li class="portfolio__item">
      <a href="https://lorengreyn.github.io/IceCream/" class="portfolio__link"
        >IceCream</a
      >
    </li>
    <li class="portfolio__item">
      <a href="https://lorengreyn.github.io/Filmoteka/" class="portfolio__link"
        >Filmoteka</a
      >
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/goit-react-hw-08-phonebook/"
        class="portfolio__link"
        >Phonebook</a
      >
    </li>
  </ul>
</div>
