<div class="portfolio">
  <h1 class="title">Portfolio</h1>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <a
        class="portfolio__link"
        href="https://lorengreyn.github.io/goit-markup-hw-08/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/WebStudio.jpg"
          width="400"
          height="200"
        />
      </a>
      <div class="portfolio__box">
        <h2 class="portfolio__title">WebStudio</h2>
        <p class="portfolio__description">
          My first website. I`m use on it flexbox at scss
        </p>
      </div>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/barber/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
        ><img
          class="portfolio__img"
          src="./img/barber.jpg"
          width="400"
          height="200"
      /></a>
      <div class="portfolio__box">
        <h2 class="portfolio__title">Barbershop</h2>
        <p class="portfolio__description">Additional project HTML/CSS</p>
      </div>
    </li>
    <li class="portfolio__item">
      <a
        class="portfolio__link"
        href="https://lorengreyn.github.io/IceCream/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/IceCream.jpg"
          width="400"
          height="200"
      /></a>
      <div class="portfolio__box">
        <h2 class="portfolio__title">IceCream</h2>
        <p class="portfolio__description">
          It was a command project. My part is heder/hero.
        </p>
      </div>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/Filmoteka/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/Filmoteka.jpg"
          width="400"
          height="200"
        />
      </a>
      <div class="portfolio__box">
        <h2 class="portfolio__title">Filmoteka</h2>
        <p class="portfolio__description">
          It was a command js project. My part is slider with youtube trailers.
        </p>
      </div>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/goit-react-hw-08-phonebook/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/Phonebook.jpg"
          width="400"
          height="200"
        />
      </a>
      <div class="portfolio__box">
        <h2 class="portfolio__title">Phonebook</h2>
        <p class="portfolio__description">React app.</p>
      </div>
    </li>
  </ul>
</div>
