<div class="portfolio">
  <h1 class="title">Frontend Portfolio</h1>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <a
        ef="https://lorengreyn.github.io/goit-markup-hw-08/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/WebStudio.jpg"
          width="400"
          height="200"
        />
      
      <div class="portfolio__box">
        <h2 class="portfolio__title">WebStudio</h2>
        <p class="portfolio__description">
          My first website. I`m use on it flexbox at scss
        </p>
      </div></a>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/barber/"
        target="_blank"
        rel="noreferrer noopener"
        ><img
          class="portfolio__img"
          src="./img/barber.jpg"
          width="400"
          height="200"
      />
      <div class="portfolio__box">
        <h2 class="portfolio__title">Barbershop</h2>
        <p class="portfolio__description">Additional project HTML/CSS</p>
      </div></a>
    </li>
    <li class="portfolio__item">
      <a
        ef="https://lorengreyn.github.io/IceCream/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/IceCream.jpg"
          width="400"
          height="200"
      />
      <div class="portfolio__box">
        <h2 class="portfolio__title">IceCream</h2>
        <p class="portfolio__description">
          It was a command project. My part is heder/hero.
        </p>
      </div></a>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/Filmoteka/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/Filmoteka.jpg"
          width="400"
          height="200"
        />
      
      <div class="portfolio__box">
        <h2 class="portfolio__title">Filmoteka</h2>
        <p class="portfolio__description">
          It was a command js project. My part is slider with youtube trailers.
        </p>
      </div></a>
    </li>
    <li class="portfolio__item">
      <a
        href="https://lorengreyn.github.io/goit-react-hw-08-phonebook/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          class="portfolio__img"
          src="./img/Phonebook.jpg"
          width="400"
          height="200"
        />
     
      <div class="portfolio__box">
        <h2 class="portfolio__title">Phonebook</h2>
        <p class="portfolio__description">React app.</p>
      </div> </a>
    </li>
  </ul>
  <h1 class="title margin">Backend Portfolio</h1>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <h2 class="portfolio__title">Book-Reader</h2>
      <p class="portfolio__description">
          Command project. I`m was a backend teamlead and developer. You can find code at:<a
          href="https://github.com/Lorengreyn/Book-Reader-backend"
          class="portfolio__link"
          target="_blank"
          rel="noreferrer noopener"
        >Github</a> And app at:
        <a
        href="https://book-reader-backend.herokuapp.com/api-docs/"
        class="portfolio__link"
        target="_blank"
        rel="noreferrer noopener"
      >Herocu</a>
      </p>
    </li>
    <li class="portfolio__item">
      <h2 class="portfolio__title">Rest-api</h2>
      <p class="portfolio__description">
         My own repository with homework. If you interested, you can find code at:<a
          href="https://github.com/Lorengreyn/nodejs-homework-rest-api"
          class="portfolio__link"
          target="_blank"
          rel="noreferrer noopener"
        >Github</a> There are several forks.
      </p>
    </li>
</div>
